*~
*.l[oa]
*.[oa]
/autom4te.cache
/COPYING
/Makefile.in
/acconf.h.in
/aclocal.m4
/configure
/m4/
/INSTALL
/.deps/
/.libs/
/Makefile
/acconf.h
/arith.h
/config.guess
/config.log
/config.status
/config.sub
/depcomp
/gd_qnan.h
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test/Q.out
/test/Qtest
/test/dItest
/test/dItestsi
/test/ddtest
/test/ddtestsi
/test/dt
/test/dtest
/test/ftest
/test/strtodt
/test/strtodtnrp
/test/tests
/test/x.out
/test/xL.out
/test/xLtest
/test/xtest
